

.ask-magzi{ 
    position: relative;
    
        
    
    figure{
        position:relative;
        background-color: $gray-500;
        img{
            display: block;
            max-width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
    
    background-size: cover;
    background-position: center center;      
    background-position: center top;
    
    .filter-items{
        height: 55px;
        position: relative;
        select, input{
            background-color: #F9F9F9;
            border: none;
            color: $gray-700;
             width: 150px;
            font-family: $gotham-rounded-Book;            
        }
    }
}

