
.categories-wrapper{
    background-color: $purple;
    padding: 80px 0;
    color:$white;
    
    h5{
        text-align: center;
    }
    
    
    h2{
        font-family: $burbank-smal-bold;
        text-align: center;
        color: $white;
        margin-bottom: 77px;
    }
    
    .categories-slider{
        a{
            background-color: $white;
            color: $purple;
            
        }
        
        a:hover{
            background-color: #F9F9F9;
        }
    }
    
    
    
}