


body{
    font-family: $gotham-rounded-bold;
    font-size: 16px;
}
header{
    .navbar-brand{
        max-width: 40%;
    }
    .navbar-toggler{
        border-color: $gray-700 !important;
    }
    
    .header-action{
        position: relative;
    }
    .num-shopping-items{
        position: absolute;
       
        margin-right: 5px;
    }
}

