


body{
    font-family: $gotham-rounded-bold;
    font-size: 16px;
}
header{
    .navbar-toggler{
        border-color: $gray-700 !important;
    }

    .navbar{       
        
        img{
            max-width: 100px;        
        }
        @media(min-width: 992px){
            max-width: 100%;
        }
        
        .club{
            background-color: $red;
            border-radius: 20px;
            padding: 3px 15px;
            color: $white;
        }
        
            .search-items{
        position: relative;
    }
        
    
        .search{
            cursor: pointer;
        }
        
    .search-form{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
    }
    
    
        
    }
    


    .header-action{
        position: relative;
        
        }
    
   
    .num-shopping-items{
        position: absolute;
        top:0;
        right: 0;
        margin-bottom: 5px;
        background-color: $red;
        border-radius: 50%;
        font-size: 7px;
        line-height: 5px;
        padding: 4px;
        color: $white;     
    }
    
    .small-cart-content{
        position: fixed;
        right: -1000px;
        top: 0;
        height: 100vh;
        width: 280px;
        transition: 1s linear;
    }
    
    .small-cart.active{
        right: 0;
    }
    
    .close-small-cart{
        width: 40px;
        height: 40px;
        background-color: $red;
        line-height: 40px;
        text-align: center;
        color: $white;
        right: 100%;
        top:0;
        font-size: 1rem;
    }
    
}

