

.most-seller-wrapper{
    .section-title{
        font-family: $burbank-smal-bold;
        font-size: 1.5rem;
        margin: 0 auto;
        background-image: url('assets/Group 3.png');
        background-repeat: no-repeat;
        background-position: center;      
        text-align: center;         
    }

    .product-item{
        position: relative;
        padding: 5px;
    }

    .product-detail h5{
        font-size: 0.7rem;
    }



    .sticker-discount{
        position: absolute;
        top: 0;
        right: 0px;
        width: 2rem;
        height: 2rem;
        background-color: $warning;
        border-radius: 50%;
        color: $white;
        text-align: center;
        line-height: 2rem;
        font-size: 0.7rem;

    }

    .sticker-new{
        position: absolute;
        top: 0;
        right: 0;
        background-color: $red;
        border-radius: 20px;
        color: $white;
        text-transform: uppercase;

        p{
            margin-bottom: 0;
            padding: 2px 12px;
            font-size: 0.7rem;
        }
    }

    .product-detail{

        h5{
            font-family: $gotham-rounded-Book;
        }

        .current-price{
            font-size: 0.7rem;
            line-height: 1rem;
            margin-bottom: 0;

        }

        .old-price strike{
            font-size: 0.5rem;
            color: $gray-500;

            max-width: 100%;
        }


    }



    ul.owl-carousel{
        display: block;

    }



}

@media(min-width:576px){
    .most-seller-wrapper{
        .product-detail h5{
            font-size: 1rem;
        }
        .product-item{
            .current-price{
                font-size: 1rem;
            }
            .old-price strike{
                font-size: 0.7rem;

            }
        }
    }
}

@media(min-width:768px){
    .most-seller-wrapper{
        .section-title{
            font-size: 2.5rem;
        }
    }
    .most-seller-wrapper{
        .product-detail h5{
            font-size: 1.25rem;
        }

    }
}

@media(min-width:992px){
    .most-seller-wrapper{
        .product-item{
            .current-price{
                font-size: 1.5rem;
            }
            .old-price strike{
                font-size: 1rem;

            }
        }
    }
}
