 
.product-item{
        img{
        margin: 0 auto;
        }
        
        
        .sticker-discount{
                position: absolute;
                top: 0;
                right: 0px;
                width: 4rem;
                height: 4rem;
                background-color: $warning;
                border-radius: 50%;
                color: $white;
                text-align: center;
                line-height: 4rem;
                font-size: 1.5rem;

            }

            .sticker-new{
                position: absolute;
                top: 0;
                right: 0;
                background-color: $red;
                border-radius: 20px;
                color: $white;
                text-transform: uppercase;

                p{
                    margin-bottom: 0;
                    padding: 2px 12px;
                    font-size: 0.7rem;
                }
        .product-detail {
            h5{
                a{
                font-size: 1.25rem;
                font-family: $gotham-rounded-Book;
                margin-bottom: 2rem;
                }
            }
            .current-price{
                font-size: 1.5rem;
                line-height: 1.5rem;
                margin-bottom: 0;

            }
            .old-price strike{
                font-size: 1rem;
                color: $gray-500;
                max-width: 100%;
            }
            
            }
        }
    }

.most-seller-wrapper{
    .section-title{
        font-family: $burbank-smal-bold;
        font-size: 1.5rem;
        margin: 0 auto;
        background-image: url('assets/Group 3.png');
        background-repeat: no-repeat;
        background-position: center;      
        text-align: center;         
    }


    









    ul.owl-carousel{
        display: block;

    }



}





