

.most-seller{
    .section-title{
      font-family: $burbank-smal-bold;
      font-size: 2rem;
      background-image: url('assets/Group 3.png');
      background-repeat: no-repeat;
      background-position: center;      
      text-align: center;         
    }
    
    .product-item{
        position: relative;
        padding: 15px;
    }
    
    
    
    .sticker-discount{
        position: absolute;
        top: 0;
        right: 30px;
        width: 75px;
        height: 75px;
        background-color: $warning;
        border-radius: 50%;
        color: $white;
        text-align: center;
        line-height: 75px;
        font-size: 1.5rem;
        
    }
    
    .product-detail{
        
        h5{
        font-family: $gotham-rounded-Book;
        }
        
        .old-price strike{
            font-size: 13px;
            color: $gray-500;
        }
        
        
    }
    
    
    
    ul.owl-carousel{
        display: block;
                
    }
    
    
    
}
